{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
<section>
    <div >
        <div >
            <h1>Reservation edit</h1>
        </div>
    </div>
</section>
<section>

    <div >
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="text-center"><Button type="submit" value="Edit"><b>Edit</b></Button>
    {{ form_end(edit_form) }}


        {{ form_start(delete_form) }}
        <button type="submit" value="Delete">Delete</button>
            {{ form_end(delete_form) }}
            <a href="{{ path('reservation_index') }}"><b>Back to the list</b></a>
    </div>
    </div>
</section>
{% endblock %}
