{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div >
            <div >
                <h1>Reservation</h1>
            </div>
        </div>
    </section>
<section >

    <div >
    <table>
        <tbody>
            <tr>
                <th>Idreservation</th>
                <td>{{ reservation.idReservation }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ reservation.idUser }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if reservation.dateFin %}{{ reservation.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
        <div class="align-content-center">
            {% if  '/locataire/local/' in path %}
        <a href="{{ path('lreservation_index') }}"><b>Back to the list</b></a>
            {% elseif '/locataire/reservation/' in path  %}
            <a href="{{ path('reservation_index') }}"><b>Back to the list</b></a>
            {% else %}
            <a href="{{ path('ureservation_index') }}"><b>Back to the list</b></a>
            {% endif %}

            <a href="{{ path('reservation_edit', { 'idReservation': reservation.idReservation }) }}"><b>Edit</b></a>
            {{ form_start(delete_form) }}
        <button type="submit" value="Delete">Delete</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
</section>
{% endblock %}
