{% extends 'base.html.twig' %}

{% block content %}
    <h1>Participantslists list</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Eventname</th>
                <th>Numplan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participantsList in participantsLists %}
            <tr>
                <td><a href="{{ path('participantslist_show', { 'date': participantsList.date }) }}">{{ participantsList.date }}</a></td>
                <td>{{ participantsList.eventName }}</td>
                <td>{{ participantsList.numPlan }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participantslist_show', { 'date': participantsList.date }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
