{% extends 'Bbase.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %} <section id="intro">
    <div class="intro-container wow fadeIn">
    <div class="section-header">
       <h1>Local edit</h1>
    </div>
    </div>
                </section>
<section id="contact" class="wow fadeInUp">

    <div class="form">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="text-center"><button type="submit" value="Edit">Edit  </button>
    {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
            <button type="submit" value="Delete">Delete Loc</button>
            {{ form_end(delete_form) }}
        <a href="{{ path('local_index') }}"><b>Back to the list</b></a>
    </div>
    </div>
</section>
{% endblock %}
