{% extends 'Bbase.html.twig' %}

{% block body %}<section id="intro">
    <div class="intro-container wow fadeIn">
        <div class="section-header">
            <h1><span>Locals list</span></h1>
        </div>
    </div>
</section>
    <section id="contact" class="wow fadeInUp">

        <div class="container">

    <table border="1">
        <thead>
            <tr>
                <th><h4 class="mb-0 pb-0"><b>Idloc</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Iduser</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Name</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Address</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Price</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Surface</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Capacity</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Img</b></h4></th>
                <th><h4 class="mb-0 pb-0"><b>Actions</b></h4></th>
            </tr>
        </thead>
        <tbody>
        {% for local in locals %}
            <tr>
                <td><a href="{{ path('local_show', { 'idLoc': local.idLoc }) }}"><b>{{ local.idLoc }}</b></a></td>
                <td width="100"><b>{{ local.idUser }}</b></td>
                <td width="100"><b>{{ local.name }}</b></td>
                <td width="200"><b>{{ local.address }}</b></td>
                <td width="300"><b>{{ local.price }}</b></td>
                <td><b>{{ local.surface }}</b></td>
                <td width="100"><b>{{ local.capacity }}</b></td>
                <td width="300">{% if local.img!=null %}<img src="{{ asset('uploads/images/' ~ local.img) }}"height="300" width="300">
                {% else %}<img src="{{ asset('uploads/images/No_Image.png') }}" height="300" width="300"> {% endif %}</td>
                <td>
                        <div class="text-center">
                            {% if activeuser!=null %}
                            {% if activeuser.id==local.idUser.id %}
                                {% if  '/locaux' in path %}
                            <a href="{{ path('ulocal_show', { 'idLoc': local.idLoc }) }}"><b>show</b></a><br>
                                    {% else %}
                                        <a href="{{ path('local_show', { 'idLoc': local.idLoc }) }}"><b>show</b></a><br>
                                        {% endif %}
                            <a href="{{ path('local_edit', { 'idLoc': local.idLoc }) }}"><b>edit</b></a>
                            {% else %}
                                <a href="{{ path('ulocal_show', { 'idLoc': local.idLoc}) }}"><b>show</b></a>
                            {% endif %}
                            {% else %}
                                <a href="{{ path('ulocal_show', { 'idLoc': local.idLoc}) }}"><b>show</b></a>
                                {% endif %}
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            {% if is_granted('ROLE_LOCATAIRE') %}
            <a href="{{ path('local_new') }}"><b>Create a new local</b></a>
            {% endif %}
    </div>
    </section>
{% endblock %}
