{% extends 'admin.html.twig' %}

{% block content %}
    <h1>Sponsorfiles list</h1>

    <div class="sidebar-search">

        <div class="input-group custom-search-form">

            <input type="text" id="search" class="form-control" placeholder="find by username...">

        </div>

        <!-- /input-group -->

    </div>

    <ul class="nav" id="side-menu">
        <li>
            <a href="#"> Sponsor Applications<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
    </ul>
    <table class="tab-info" border="2">
        <thead>
            <tr>
                <th>User</th>
                <th>Type</th>
                <th>Url</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsorFile in sponsorFiles %}
            <tr>
                <td><a href="{{ path('sponsorfile_show', { 'idFile': sponsorFile.idFile }) }}">{{ sponsorFile.idUser.username }}</a></td>
                <td>{{ sponsorFile.type }}</td>
                <td>{{ sponsorFile.url }}</td>
                <td>{{ sponsorFile.description }}</td>
                <td>{{ sponsorFile.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sponsorfile_show', { 'idFile': sponsorFile.idFile }) }}">show</a>
                        </li>
                        <!--<li>
                            <a href="{{ path('sponsorfile_edit', { 'idFile': sponsorFile.idFile }) }}">edit</a>
                        </li>-->
                        <li>
                            <a href="{{ path('sponsorfile_accept', { 'idFile': sponsorFile.idFile }) }}">accept</a>
                        </li>
                        <li>
                            <a href="{{ path('sponsorfile_refuse', { 'idFile': sponsorFile.idFile }) }}">refuse</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sponsorfile_new') }}">Create a new sponsorFile</a>
        </li>
    </ul>

    <!-- jQuery is necessary -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('sponsorfile_search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'entities') {
                                            if (id != 'error') {
                                                entitySelector.append('<li><a href="/daten/'+id+'">'+value+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
